html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows:  1fr;
  grid-template-areas:
    "img article";
}


      /* navbar */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 10%;
        overflow: hidden;
        background-color: rgba(80, 212, 195, 0.699);
        font-family: Helvetica, sans-serif;
        position: absolute;
        width: 80%;
        right: 0px;
        height:4px;
        top:0%;
      }

      li {
        float: left;
        background-color: white;
        border-radius: 5px;
        margin-left: 15px;
        margin-top:70px;
      }
      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
      }

      li a:hover:not(.active) {
        background-color: rgba(31, 31, 31, 0.219);
      }
      .active {
        background-color: rgb(255, 211, 88);
        cursor: pointer;
        right: 100px;
      }

      nbar{
      position:inherit;
      top:-100%;
      right: 0%;
      z-index:4;
      }


.head { 
  position: static;
  width:100%;
  background-color: rgba(113, 26, 228, 0.822);
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 7vh;
  height: 250px;
}

.cover {object-fit: cover;}

.img { 
  grid-area: img; 
}

.article { 
  grid-area: article;
  padding: 30% 10% 10% 10%;
  overflow-y: scroll;
  }
.impact {
  width:100%;
  margin: 10px 0px 10px 0px;
  background-color: #94D0B8;

}
.news {
  padding: 20px;
  background-color: white;
  column-count: 2;
}

p {
font-family: Helvetica;
}


/* */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}
