.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "img article";
}
.img { grid-area: img; }
.article {
  padding: 10%;
  background-color: #343E5A; 
  overflow-y: scroll;
  }

.impact {
  width:100%;
  margin: 10px 0px 10px 0px;
  background-color: #94D0B8;
  }
